// Variables
    // Colors
    $primary-color: #C7A375;
    $secondary-color: #333947;
    $tertiary-color: #7590C7;
    $primary-light-color : #EDE0D0;
    $primary-dark-color : #473E33;
    $secondary-light-color: #334747;
    $tertiary-light-color: #75C4C7;
    $pink-light: #A58184;
    $pink-dark: #503739;
    $black: #000;
    $white: #FFF;

    // Fonts
    $title-font: 'Leckerli One', cursive;
    $body-font: 'K2D', sans-serif;