@use 'variables';

.footer {
    background-color: variables.$primary-color;
    height : 1rem;
    padding : 1rem;
    display : flex;
    justify-content: center;
    align-items: center;
    margin-top : 4rem;
}