@use 'variables';

*{
  margin : 0;
  box-sizing: border-box;
}

body {
  background-color: variables.$primary-light-color;
  width : 100vw;
}

h1, h2, h3, h4, h5, h6 {
  font-family : variables.$title-font;
}

p {
  font-family: variables.$body-font;
}

