@use 'variables';

main {
    display : flex;
    justify-content : center;
    align-items: center;
}

.login-container {
    width : 30%;
    height : 30%;
    background-color : variables.$tertiary-color;
    padding : 1rem 5rem;
    border-radius : 20px;
    display : flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &__icon {
        position : absolute;
        top: 23%;
        right: 37%;
        z-index: 10;
        cursor: pointer;
    }

    &__form {
        width : 100%;
        display: flex;
        flex-direction : column;
        align-items: center;
        gap : 0.5rem;

        &__input {
            width : 100%;
            padding : 0.8rem;
            border-radius : 20px;
            background-color: variables.$primary-light-color;
            border : none;
            margin-bottom : 2rem;
            text-align: center;
            font-family: variables.$body-font;

            &:focus {
                outline : none;
            }
            &::placeholder {
                text-align: center;
                font-family: variables.$body-font;
            }
        }

        &__btn {
            width : 50%;
            padding : 0.5rem;
            border-radius : 20px;
            background-color: variables.$primary-light-color;
            border : none;
            font-size : 1.5rem;
            font-family : variables.$title-font;
            cursor: pointer;
        }

        &__link {
            font-size : 0.8rem;
        }
    }
}