@use 'variables';

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(237,224,208, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: variables.$tertiary-color;
  width: 90%;
  max-width: 500px;
  border-radius: 8px;
  padding: 1.5rem;
  animation: fadeIn 0.2s ease;
  position : relative;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close {
  background: variables.$tertiary-color;
  border-radius : 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding : 5px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position : absolute;
  top : -35%;
  right : 0%;
}

.modal-content {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}