@use 'variables';

.race-form {
    display : flex;
    flex-direction: column;
    align-items: center;
    width : 80%;

    &__input {
        margin-top : 1rem;
        margin-bottom : 2rem;
        width : 100%;
        background-color: variables.$primary-light-color;
        border: none;
        border-radius: 20px;
        padding : 1rem;
    }

    &__btn {
        width : 50%;
        background: linear-gradient(variables.$primary-light-color, variables.$primary-color);
        border: none;
        border-radius : 10px;
        padding : 10px 0;
        cursor: pointer;
    }
}