@import 'index.css';

.dashboard-layout {
  display: flex;
}

.dashboard-content {
  padding-left: 225px;
  padding-top: 32px;
  width: 100%;
}

.cards-container {
  padding : 33px 22px;
  display : flex;
  justify-content : space-between;
  width : 100%;
}