@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Poppins:wght@200;300;400;500&display=swap');

:root {
  /*** Colors ***/
  --cream : #F8F4EE;
  --gold : #B8975A;
  --gold-light : #D4B87A;
  --gold-dark : #8A6E3E;
  --charcoal : #2C2520;
  --warm-gray : #6B6259;
  --border : #E2D8CC;

  /*** Fonts ***/

}


* , ::before , ::after {
  box-sizing : border-box;
  margin : 0;
  padding : 0;
}

body {
  font-family : var(--sans);
  font-size : 13px;
  background-color : var(--cream);
  color : var(--charcoal);
}

h1, h2, h3, h4, h5, h6 {
  font-family : 'Cormorant Garamond', serif;
  color : var(--charcoal);
}

a {
  text-decoration : none;
  color : var(--gold-dark);
}

p , a , li{
  font-family : 'Poppins', sans-serif;
}